In [1]:
import pandas as pd

#load and read csv
csv_path = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(csv_path)

In [2]:
# Player count
player_count = len(purchase_data["SN"].value_counts())

playercount = pd.DataFrame({"Total Players":[player_count]})
playercount

   Total Players
0            576

In [3]:
# Purchasing Analysis (Total)
# Number of Unique Items
unique_items = len(purchase_data["Item Name"].unique())
    
# Average Purchase Price
avg_price = purchase_data["Price"].mean()

# Total Number of Purchases
total_pur = len(purchase_data["Purchase ID"])

# Total Revenue
total_rev = purchase_data["Price"].sum()

purchase_analysis = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                  "Average Price": avg_price, 
                                  "Total Number of Purchases": total_pur, 
                                  "Total Revenue": total_rev})
# Formating
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].map("${:.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:.2f}".format)
purchase_analysis

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [4]:
# Gender Demographics
gender_stats = purchase_data.groupby("Gender")

# Count the total of screen names "SN" by gender
TCG = gender_stats.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = (TCG / player_count) * 100

# Create data frame
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players,
                                    "Total Count": TCG})

# Remove index
gender_demographics.index.name = None

# Format values
gender_demographics.sort_values(["Total Count"], 
                                ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [5]:
# Purchasing Analysis (Gender)

# Purchase Count
purchase_count = gender_stats["Purchase ID"].count()

# Average purchase price
avg_purchase_price = gender_stats["Price"].mean()

# Average purchase total 
avg_purchase_total = gender_stats["Price"].sum()

# Average purchase total by gender divivded by purchase count 
avg_purchase_per_person = avg_purchase_total/TCG

# Create the data frame
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Add "Gender"
gender_demographics.index.name = "Gender"

# Format table
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [6]:
# Age Demographics

# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Sort into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create data frame with "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age
total_count_age = age_grouped["SN"].nunique()

# Calculate percentages
percentage_by_age = (total_count_age/player_count) * 100

# Create data frame
age_demographics = pd.DataFrame({"Total Count": total_count_age,
                                 "Percentage of Players": percentage_by_age})

# Format data frame with no index
age_demographics.index.name = None

# Format percentages
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

In [7]:
# Purchasing Analysis By Age Group

# Purchases
purchase_count_age = age_grouped["Purchase ID"].count()

# Average purchase price 
avg_purchase_price_age = age_grouped["Price"].mean()

# Total purchase value 
total_purchase_value = age_grouped["Price"].sum()

# Average purchase per person 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format data frame with no index
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [8]:
# Top Spenders

# Group purchase data by screen names
purchase_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = purchase_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = purchase_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = purchase_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], 
                                              ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [9]:
# Most Popular Items

# New data frame 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data
item_stats = items.groupby(["Item ID","Item Name"])

# Number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Item price
item_price = purchase_value/purchase_count_item

# Data frame with values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Top spenders and top 5 items in order
popular_formatted = most_popular_items.sort_values(["Purchase Count"], 
                                                   ascending=False).head()

# Format
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [10]:
# Most Profitable Items
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})